<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description | safe }}</p>
    <p>Price: {{ item.price }}</p>
    <button id="buy-button">Buy</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      document.getElementById('buy-button').addEventListener('click', function () {
        fetch('/buy/{{ item.id }}')
          .then(response => response.json())
          .then(data => {
            const stripe = Stripe('{{ key }}');
            stripe.redirectToCheckout({ sessionId: data.id });
          });
      });
    </script>
</body>
</html>